<div id="carousel-hero" class="carousel slide" data-ride="carousel" data-pause="null" data-interval="2500">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/scuba.jpg" alt="...">
    </div>

    <div class="item">
      <img src="/images/angkor.jpg" alt="...">
    </div>

  </div>
</div>