<form id="login-form" method="post" action="/sessions">
  <div class="imgcontainer">
    <img src="/assets/img_avatar2.png" alt="Avatar" class="avatar">
  </div>
  <%= render 'shared/error_messages' %>
  <div class="container">
    <label><b>Email</b></label>
    <input id="login-email" type="text" placeholder="Enter Email" name="session[email]" required>

    <label><b>Password</b></label>
    <input id="login-password" type="password" placeholder="Enter Password" name="session[password]" required>

    <button id="login-button" type="submit">Login</button>
  </div>
</form>
