<div id="friends-feed" class="row panel panel-primary">
  <div class="panel-heading">
    <h4>Friends (<%= @user.friends.count %>)</a></h4>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <% @user.friends.each do |friend| %>
        <li class="list-group-item friends-list"><a href="/users/<%= friend.id %>"><%= friend.username %></a></li>
      <% end %>
    </ul>
  </div>
</div>
