<h1><%= @user.username %>'s friends (<%= @user.friends.count %>)</h1>

<ul>
  <% @user.friends.each do |friend| %>
    <li><a href="/users/<%= friend.id %>"><%= friend.username %></a></li>
  <% end %>
</ul>
