<form id="register-form" method="post" action="/users">
  <div class="reg-header">
    <h2>Register</h2>
  </div>
  <%= render 'shared/error_messages' %>
  <div class="container">
    <label id="reg-label"><b>First Name</b></label>
    <input id="reg-first-name" type="text" placeholder="Enter First Name" name="user[first_name]" required>

    <label id="reg-label"><b>Last Name</b></label>
    <input id="reg-last-name" type="text" placeholder="Enter Last Name" name="user[last_name]" required>

    <label id="reg-label"><b>Username</b></label>
    <input id="reg-username" type="text" placeholder="Enter Username" name="user[username]" required>

    <label id="reg-label"><b>Email</b></label>
    <input id="reg-email" type="email" placeholder="Enter Email" name="user[email]" required>

    <label id="reg-label"><b>Password</b></label>
    <input id="reg-password" type="password" placeholder="Enter Password" name="user[password]" required>

    <label id="reg-label"><b>Password Confirmation</b></label>
    <input id="reg-password-confirmation" type="password" placeholder="Enter Password Confirmation" name="user[password_confirmation]" required>

    <button id="reg-button" type="submit">Sign Up</button>
  </div>
</form>
