<h2><%= @category.name  %> Search Results</h2>

<% if @errors %>
  <%= @errors[0] %>
<% end %>

<% if @results %>
  <ul>
    <%  @results.each do |result| %>
      <li><%=result.title %></li>
    <% end %>
  </ul>
<% end %>
