#goal-picture {
  float: left;
  width: 184px;
  height: 184px;
  margin: 10px;
}

.goal-details {
  /*margin-top: 10px;*/
  padding: 5px;
  display: block;
}

.goal-count {
  display: block;
  clear: both;
}

.glyphicon-ok {
  font-size: 17px;
}

.goals-friends-list-link {
  float:left;
}

.goals-friends-list-message-button {
  float:right;
}

.friends-list-row {
  padding-left: 10%;
  padding-right: 10%;
}

#key {
  font-variant: small-caps;
  margin-right: 15px;
}
