#goal-picture {
  float: left;
  width: auto;
  height: auto;
  max-height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.goal-details {
  padding: 5px;
}

.add-goal {
  display: block;
}

.goal-count {
  margin-top: 20px;
  display: inline-block;
  border-radius: 8px;
  background: #f7f7f9;
  padding: 15px;
}

.glyphicon-ok {
  font-size: 17px;
}

.goals-friends-list-link {
  float:left;
}

.goals-friends-list-message-button {
  float:right;
}

.friends-list-row {
  padding-left: 10%;
  padding-right: 10%;
}

#key {
  font-variant: small-caps;
  margin-right: 18px;
}

#goal-h1 {
  margin-top: 0;
}

.user-review-completed {
  clear: both;
  padding-top: 10px;
}

#friends_collapse {
  padding-right: 15px;
  padding-left: 15px;
}

#friends-goal-list-header {
  color: white;
  padding-left: 20px;
  margin-bottom: -15px;
}
