// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#register-form {
  border: 3px solid #f1f1f1;
  background-image: url("https://wallpaperscraft.com/image/circles_highlights_background_form_size_47438_3840x2400.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#friends-activity-feed {
  float: right;
  width: 25%;
  margin-top: 14%;
}

#main-content {
  float: left;
  width: 75%;
}

/* Full-width inputs */
input[id=reg-email], input[id=reg-password], input[id=reg-first-name], input[id=reg-last-name], input[id=reg-username], input[id=reg-password-confirmation] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#reg-button {
  background-color: #EEE;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
#reg-button:hover {
  opacity: 0.8;
}

#reg-label {
  display: block;
  color: white;
  font-family: Georgia;
}

/* Center the avatar image inside this container */
.reg-header {
  text-align: center;
  margin: 24px 0 12px 0;
  color: white;
  font-family: Georgia;
}

/* Add padding to containers */
.container {
  width: 800em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

/** page structure **/
#content {
  // display: block;
  width: 90%;
  // margin: auto;
  // background: #fff;
  // padding: 25px 20px;
  // padding-bottom: 35px;
  // -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  // -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

/** profile nav links **/
#profiletabs {
  display: block;
  margin-bottom: 4px;
  height: 50px;
}

#profiletabs ul { list-style: none; display: block; width: 70%; height: 50px; }
#profiletabls ul li { float: left; }
#profiletabs ul li a {
  display: block;
  float: left;
  padding: 8px 11px;
  font-size: 1.2em;
  font-weight: bold;
  background: white;
  color: #000;
  margin-right: 7px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}

#profiletabs ul li a.sel {
  background: #3071a9;
  color: #fff;
}

#profiletabs ul li a:hover {
  text-decoration: none;
  background: lightblue;
  color: #000;
}

/** profile content sections **/
.hidden {
  display: none;
}

// #uncomplete-goals, #friends {
//   position: relative;
//   left: 5%;
// }

/** clearfix **/
// .clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; position: relative; right: 6.3%; }

.friend-clearfix { display: inline-block; position: relative; right: 5%; }

.list-remove-item-button {
  float:right;
}

.list-mark-done-button {
  float:right;
}

#friend-activity-header {
  text-decoration: underline;
}

.panel-heading h2 a {
  color: white;
}

.panel-heading h2 a:hover {
  color: white;
}

.friends-search-button {
  float: right;
  vertical-align: middle;
}

.friends-title-header {
  display: inline-block;
}
