<div class="">
  <h1>Categories List</h1>
  <div class="">
    <% @categories.each do |category| %>
      <div class="">
        <h3><a href="/categories/<%=category.id%>"><%= category.name %></a></h3>
        <ul>
          <% category.top_five_goals.each do |goal| %>
            <li><%= goal.task %></li>
            <button>Add to goals</button>
            <br><br>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
